@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto_lightt.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto_regularr.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto_mediumm.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter_regular2.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter_medium2.ttf") format("truetype");
  font-style: normal;
  font-weight: 375;
}
