body {
  background-color: #f5f5f5;
}

.nav-wrapper {
  background-color: #4444e3;
  display: flex;
  position: absolute;
}

.logo {
  padding-top: 215.28vw;
  padding-left: 529.72vw;
  width: 1204.17vw;
}

.pagenames {
  padding-top: 215.28vw;
  display: flex-end;
  gap: 3.75rem;
}

.newsname,
.eventsname,
.ticketsname,
.aboutusname {
  font-size: 111.11vw;
  text-decoration: none;
  color: #ffffff;
  opacity: 70%;
  font-family: "Inter";
  font-weight: 400;
  line-height: 6vw;
}

.newsname,
.eventsname,
.ticketsname,
.aboutusname:hover {
  font-size: 111.11vw;
  text-decoration: none;
  color: #ffffff;
  opacity: 100%;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.736vw;
}
