li {
  list-style: none;
  align-items: flex-end;
  gap: 3.75rem;
}

a {
  color: white;
  opacity: 70%;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a:hover {
  color: white;
}

header {
  position: relative;
  padding: 0.2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #4444e3;
  padding: 1rem 2rem;
}

.navbar .logoonwrapper {
  height: 40px;
  width: auto;
}

.navbar .nav-list {
  display: flex;
  gap: 3.75rem;
}
